<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="format-detection" content="email=no"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <title>充值成功</title>
  <style>
    .Pay_Success {
      width: 160px;
      margin: auto;
      margin-top: 35%;
    }
    .Pay_success_size {
      width: 80%;
      height: 35px;
      text-align: center;
      font-size: 25px;
      color: rgb(127, 70, 73);
      margin: 15px auto auto;
    }
  </style>
</head>
<body>
<div class="Pay_Success"><img src="http://our8pafcg.bkt.clouddn.com/hdcsd/images/success.png"></div>
<div class="Pay_success_size">恭喜你！充值成功</div>
</body>
</html>