<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>红包分享</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/resets.css">
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
<div class="page"  id="showarea">
    <div class="content-box">
        <div class="hb-end-box">
            <div class="hb-end-header">
                <h2>专享红包</h2>
            </div>
            <div class="hb-desc-box">
                <h4 id="data1"></h4>
                <p class="hb-money"><span class="money-lg" id="data2"></span>元</p>
                <p class="hb-money">满<span id="data4"></span>元可用</p>
                <p class="hb-time" >有效期至：<span id="data3"></span></p>
                <p class="text">请到我的红包中 <a href="/coupon/list">查看</a></p>
                <!--div class="hb-fx-btnBox">
                    <a href="javascript:;" class="fhb-btn">发红包</a>
                </div-->
            </div>

            <div class="hb-active-rules">
                <h3>活动细则</h3>
                <p>1.在加油微信支付时，系统自动选择加油红包折扣</p>
                <p>2.每次加油只能使用一个红包。</p>
                <p>3.注意红包的使用期限。</p>
                <p>4.专属红包只能在所属加油站使用。</p>
                <p>5.加油站保留法律范围内允许的对活动的解释权 。</p>
            </div>
        </div>
    </div>
</div>
<div class="modal-backBox" id="modalBack">
    <div class="modal-cont">
        <div class="clearfix">
            <img src="http://om87tl0nf.bkt.clouddn.com/arrow.png" class="close">
        </div>
        <div class="modal-desc-box">
            <p>请点击右上角,</p>
            <p>将它发送到指定朋友</p>
            <p>或分享到朋友圈</p>
        </div>
    </div>
</div>
<script src="//cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script>
<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="/weixin/wxsign2"></script>
<script src="//cdn.bootcss.com/moment.js/2.17.1/moment-with-locales.min.js"></script>
<script>
    /* 打开模态框 */
    $('.fhb-btn').click(function(){
        $('#modalBack').fadeIn(600);
        wx.showOptionMenu();
    });

    /* 关闭模态框 */
    $('#modalBack').click(function(e){
        e.preventDefault();
        e.stopPropagation();
        $('#modalBack').fadeOut(600);
    });
    /* 关闭模态框 */
    $('.close').click(function(e){
        e.preventDefault();
        e.stopPropagation();
        $('#modalBack').fadeOut(600);
    });
    $('.modal-desc-box p').click(function(e){
        e.preventDefault();
        e.stopPropagation();
        $('#modalBack').fadeIn();
    })

    var sharelink="<{sharelink}>"
    var coupondata=<{coupon}>;
    wx.ready(function() {
        wx.hideMenuItems({
            menuList: ["menuItem:share:qq", "menuItem:share:weiboApp", "menuItem:favorite", "menuItem:share:facebook", "menuItem:share:QZone",
                "menuItem:editTag", "menuItem:delete", "menuItem:copyUrl", "menuItem:originPage", "menuItem:readMode", "menuItem:openWithQQBrowser"
                , "menuItem:openWithSafari", "menuItem:share:email", "menuItem:share:brand"]
        });

        var sharedata = {
            title: coupondata.coupon.for_shop_str+'给您发红包了！', // 分享标题
            desc: '抢加油红包抵现金！点我领取！', // 分享描述
            link: sharelink, // 分享链接
            imgUrl: 'http://om87tl0nf.bkt.clouddn.com/hb.png?imageView2/1/w/80/h/80/format/png/q/75|imageslim', // 分享图标
            success: function (res) {
                alert('已分享');
            },
        }
        wx.onMenuShareTimeline(sharedata);
        wx.onMenuShareAppMessage(sharedata);
    })

    try {
        $("#data1").text(coupondata.coupon.for_shop_str)
        $("#data2").text(coupondata.coupon.amount)
        $("#data3").text(moment(new Date(coupondata.coupon.limit_time)).format("YYYY-MM-DD"))
        $("#data4").text(coupondata.coupon.pay_price)
        $("#showarea").show()
    }catch (e){
        alert(e)
    }
</script>
</body>
</html>